{% extends "base.html.twig" %}

{% block title %}
	Création d'une catégorie
{% endblock %}

{% block body %}
	<h1>Création d'une nouvelle catégorie</h1>
	{# Le novalidate dessous permet de dire au navigateur de ne pas valider ce champ car on va le faire avec les contraintes au niveau de l'Entité (Category) #}
	{{ form_start(formView, {'attr' : {'novalidate': 'novalidate'}}) }}
	{# {{ form_widget(formView) }} #}
	<div class="row">
		{{ form_row(formView.name) }}
	</div>
	<button class="btn btn-primary">
		<i class="fas fa-save">
			Créer la catégorie</i>
	</button>
	{{ form_end(formView) }}
{% endblock %}
